$primary: #FFF;
$accent: #BD3232;
$text: #181818;
$pegaso: #20201F;
$impacto: #101D31;
$boga: #1D1D1B;
$gray: rgba(196, 196, 196, 0.25);

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: $text;
}

// * SECTION UTILS
@import './utils/reset';
@import './utils/icons';
@import './utils/wrapper';

// * SECTION COMPONENTS
@import './components/header';
@import './components/hero';
@import './components/air';
@import './components/strategy';
@import './components/leader';
@import './components/quote';