$primary: #FFF;
$accent: #BD3232;
$text: #181818;
$pegaso: #20201F;
$impacto: #101D31;
$boga: #1D1D1B;
$gray: rgba(196, 196, 196, 0.25);

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: $text;
}

// * SECTION MEDIA QUERIES
@mixin ipad {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin iphone-8 {
    @media screen and (max-width: 540px) {
        @content;
    }
}

@mixin iphone-x {
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin iphone-5 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

// * SECTION UTILS
@import './utils/reset';
@import './utils/icons';
@import './utils/wrapper';

// * SECTION COMPONENTS
@import './components/header';
@import './components/hero';
@import './components/air';
@import './components/strategy';
@import './components/leader';
@import './components/quote';
@import './components/mission';
@import './components/footer';
@import './components/projects';
@import './components/mobile-nav';