.c-mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: $accent;
    justify-content: space-evenly;
    padding: 10px 0;
    display: none;
    
    &__link {
        text-decoration: none;
    }
    
    &__icon {
        color: $primary;
        font-size: 2em;
        font-weight: 700;
    }
    
    @include iphone-8 {
        display: flex;
    }
}